<div class="jumbotron">

    <div class="container">

        <div class="row">    
            <p><strong><b>Got a Question?</b></strong></p>
        </div>
    
        <div class="row">    
            <h1>Contact The Mall</h1>
        </div>
        
        <div class="row">
            <p><strong><b>We’re here to help and answer any question you might have. We look forward to connect with you :D</b></strong></p>
        </div>
    
    </div>

</div>

<div class="col-12">

    <div class="row">

        <div class="feedbackForm col-lg-3 col-md-6 col-sm-12 col-xs-12">
        
            <p>Drop us a line</p>
        
            <form action="" onsubmit="sendFeedback()">
        
                <div class="row">
                    <input type="text" placeholder="Full Name">
                </div>

                <div class="row">
                    <input type="email" placeholder="Email">
                </div>

                <div class="row">
                    <input type="text" placeholder="Message">
                </div>
        
                <br><br>

                <button class="btn btn-dark" type="submit"> Submit </button>
        
            </form>

            <br>
            <br>
        
        </div>
      
        <div class="feedbackImage col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
            <img src="assets/img/vector0.png" alt="">
    
        </div>
    
    </div>

    <br><br>

</div>

<div class="cardDivision">

    <div class="row">

        <div class="cardBack col-lg-3 col-md-3 col-sm-10 col-xs-10">

            <div class="card cardOne ">
                <img class="card-img-top" src="assets/img/questions.png" alt="Card image cap">
                <div class="card-body" >
                    <h1 class="card-title"><b>For BTL</b> </h1>
                    <h4>Mr. Shibli Kidwai</h4>
                    <h4>Email: kidwai-ahmad@dlf.in</h4>
                </div>
            </div>

        </div>

        <div class="cardBack col-lg-3 col-md-3 col-sm-10 col-xs-10">

            <div class="card cardOne " >
                <img class="card-img-top" src="assets/img/questions2.png" alt="Card image cap">
                <div class="card-body" >
                  <h1 class="card-title"><b>For Leasing</b></h1>
                  <h4>Sunil Beri</h4>
                  <h4>Email: beri-sunil@dlf.in</h4>
                </div>
            </div>

        </div>

        <div class="cardBack col-lg-3 col-md-3 col-sm-10 col-xs-10">

            <div class="card cardOne">
                <img class="card-img-top" src="assets/img/questions3.png" alt="Card image cap">
                <div class="card-body" >
                  <h1 class="card-title"><b>For Marketing</b> </h1>
                  <h4>Garima Agarwal</h4>
                  <h4>Email: agarwal-garma@dlf.in</h4>
                </div>
            </div>

        </div>
    
    </div>

    <br><br>

</div>


<div class="socialDivision" >

    <div class="row">

        <div class="col-lg-2">

            <h1 class="socialText">REACH US <hr class="underline"></h1>

        </div>


        <div class="col-lg-4">
            
            <br>
            <br>
            <div class="row row2">

                <button> <i class="fa fa-facebook" aria-hidden="true"></i></button>
                
            </div>

            <div class="row2 row">

                <button > <i class="fa fa-youtube " aria-hidden="true"></i></button>
            </div>

            <div class="row row2">

                <button > <i class="fa fa-instagram " aria-hidden="true"></i></button>

            </div>

            <div class="row row2">

                <button > <i class="fa fa-twitter " aria-hidden="true"></i></button>

            </div>

            <div class="row row2">

                <button > <i class="fa fa-linkedin " aria-hidden="true"></i></button>
                
            </div>

        </div>

        <div class="col-lg-6">

            <img src="assets/img/social.svg" style="width: 100%;" alt="">

        </div>

    </div>

</div>