<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" alt="">
        <div class="overlay">
           <h2>THE DLF MALL OF INDIA</h2>
           <h3 class="info" href="#">CONTACT US</h3>
        </div>
    </div>
</div>

<div class="row row2">
    <div  id="textanim" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 address">
        
        <ul class="list-unstyled mb-0">

            <h3><strong>DLF Mall of India</strong></h3>

            <br><br>
            <li>
                <h3>Plot No – M 03, Sector 18, Noida 201301 (NCR), India.</h3>
            </li>
            
            <br><br>
            <li>
                <h4><strong>T:</strong> 0120-6209971</h4>
            </li>

            <br><br>
            <li>
                <h4><strong>E:</strong> customercare@dlfmallofindia.in</h4>
            </li>
        </ul>            
    </div>
    
    <div  class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <br>
        <ul id="textanim1" class="list-unstyled mb-0">
            <br><br>
            <li><h4><b>For Leasing</b> </h4></li>
            <li><h4>Sunil Beri</h4></li>
            <li><h4>Email: beri-sunil@dlf.in</h4></li>
        </ul>

        <ul id="textanim1" class="list-unstyled mb-0">
            <br><br>
            <li><h4><b>For Operations</b> </h4></li>
            <li><h4>Shibli Khan</h4></li>
            <li><h4>Email: khan-shibli@dlf.in</h4></li>
        </ul> 
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <br>
        <ul id="textanim1" class="list-unstyled mb-0">
            <br><br>
            <li><h4><b>For BTL</b> </h4></li>
            <li><h4>Mr. Shibli Kidwai</h4></li>
            <li><h4>Email: kidwai-ahmad@dlf.in</h4></li>
        </ul>

        <ul id="textanim1" class="list-unstyled mb-0">
            <br><br>
            <li><h4><b>For Marketing</b> </h4></li>
            <li><h4>Garima Agarwal</h4></li>
            <li><h4>Email: agarwal-garma@dlf.in</h4></li>
        </ul>
    </div>

</div>


<div class="row row2">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row1">
        
        <!-- <app-social></app-social> -->
        <div class="note1">
            <h1>hOW Can We Help ?</h1>
            <h6>We’re here to help and answer any question you might have. We look forward to hearing from you</h6>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-reach-us></app-reach-us>
    </div>
</div>

<br><br>

<div class="row row2">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-social></app-social>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <!-- <app-reach-us></app-reach-us> -->
        <div class="note">
            <h1>We’d love to hear from you</h1>
        </div>
    </div>
</div>