<div class="col-12">

    <div class="row">

        <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12">
        
            <div class="card-header">
                <h1><strong>PAY INVOICE</strong></h1>
            </div>

            <div class="d-flex">
                <div class="p-2 bd-highlight"><img src="assets/img/visa.png" style="height:60px;width:6z0px" alt=""></div>
                <div class="p-2 bd-highlight"><img src="assets/img/mastercard.png" style="height:60px;width:6z0px" alt=""></div>
                <div class="p-2 bd-highlight"><img src="assets/img/paytm.png" style="height:60px;width:6z0px" alt=""></div>
                <div class="p-2 bd-highlight"><img src="assets/img/rupay.png" style="height:60px;width:6z0px" alt=""></div>
              </div>

            <form class="paymentForm" action="" onsubmit="sendpayment()">
        
                <div class="row">
                    <span>Card Number</span>
                    <input required type="number" placeholder="Card Number">
                </div>

                <div class="row">
                    <div class="col">
                        <span>Expire Date</span>
                        <input required type="month" placeholder="Email">
                    </div>

                    <div class="col">
                        <span>CVV</span>
                        <input required type="password">
                    </div>

                </div>

                <div class="row">
                    <span>Card Holder</span>
                    <input required type="text" placeholder="Name as on card">
                </div>
        
                <br><br>

                <button class="btn btn-blue" type="submit">CONFIRM PAYMENT</button>
        
            </form>

            <br>
            <br>
        
        </div>
      
        <div class="paymentImage col-lg-7 col-md-6 col-sm-12 col-xs-12">
    
            <img src="assets/img/payment.png" alt="">
    
        </div>
    
    </div>

    <br><br>

</div>