.card{
    margin:2% 5% 0% 10%;
    box-shadow: 10px 10px 50px 10px gainsboro;
    font-family: 'Baloo Bhai 2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    border-radius: 20px;
}

.card-header{
    text-align: center;
    background-color: white;
    width:100%;
    padding-top: 10%;
}

.paymentForm{
    padding: 6% 0% 0% 3%;
    text-align: center;
}

.paymentForm .row{
    background: white;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10% 10% 1% 5%;
}

.paymentForm input{
    width: 100%;
    border-radius: 6px;
    border: blue 2px solid;
}

.paymentImage img{
    margin-top: 15%;
    height: 80%;
    width: 90%;    
}