<div  class="background" >
    <div class="container" >
      <div class="screen">
        <div class="screen-header">
          <p>Use the form below to get in touch with us with your queries. Someone from our team will get back to you soon.</p>
        </div>
        <div class="screen-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="screen-body-item left col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="app-title">
              <span>REACH</span>
              <span>US</span>
            </div>
          </div>
          <div class="screen-body-item col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="app-form">
              <div class="app-form-group">
                <input class="app-form-control" placeholder="NAME">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="EMAIL">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="CONTACT NO">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" placeholder="MESSAGE">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button">CANCEL</button>
                <button class="app-form-button">SEND</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  