<div id="division" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="https://images.theconversation.com/files/214172/original/file-20180410-560-acgrw5.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="">
            <div class="overlay">
                <div class="back">
                    <h2><strong>CONNECT WITH US</strong></h2>
                    <p class="set1">
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a  href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="set2">
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    </p>
                </div>
            </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">